



        <!--  <div *ngFor="let user of users" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                  <div class='col-lg-12'>
                    Between
                      <a (click)="deleteAgmt(agreement._id)" href="javascript:void(0);"><span class="glyphicon glyphicon-trash pull-right text-primary"></span></a><br>
                  </div>
                  <div class="col-lg-12 well well-add-card">
                      <h4>1. {{agreement.tenant_name}}</h4>
                  </div>

                  <div class="col-lg-12 well well-add-card">
                 <h4>2. {{agreement.owner_name}}</h4>
                  </div>
                <a routerLink="/agreement/{{agreement._id}}" routerLinkActive="active">  <button  type="button" class="btn btn-primary btn-xs btn-update btn-add-card">View</button></a>
                <a routerLink="/edit/agreement/{{agreement._id}}" routerLinkActive="active">   <button type="button" class="btn btn-danger btn-xs btn-update btn-add-card">Edit</button></a>
              </div>
            </div>
          </div>-->


          <div class="container bootstrap snippet">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="main-box no-header clearfix">
                          <div class="main-box-body clearfix">
                              <div class="table-responsive">
                                  <table class="table user-list">
                                      <thead>
                                          <tr>
                                          <th><span>User</span></th>
                                          <th><span>Created</span></th>
                                          <th class="text-center"><span>Reputation</span></th>
                                          <th><span>Website/Blog</span></th>
                                            <th><span>Last Access </span></th>
                                            <th><span>Views </span></th>
                                          <th>&nbsp;</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let user of users">
                                              <td>
      <img src="{{user.ProfileImageUrl}}" alt="" *ngIf="user.ProfileImageUrl">
      <img src="https://cdn2.iconfinder.com/data/icons/metro-uinvert-dock/128/Personal.png" alt="" *ngIf="!user.ProfileImageUrl">
                                                  <a routerLink="/user/{{CreateUserName(user.DisplayName)}}" routerLinkActive="active" class="user-link">{{user.DisplayName}}</a>
                                                  <span class="user-subhead">{{user.Location}}</span>
                                              </td>
                                              <td>{{dateFormat(user.created)}}</td>
                                              <td class="text-center">
                                                  <span class="label label-default">{{user.Reputation}}</span>
                                              </td>
                                              <td>
                                    <a target="_blank" href="{{user.WebsiteUrl }}">{{user.WebsiteUrl }}</a>
                                              </td>
                                              <td>{{user.LastAccessDate}}</td>
                                              <td class="text-center">
                                                  <span class="label label-default">{{user.Views}}</span>
                                              </td>
                                              <td style="width: 100%;">
                                                  <a routerLink="/user/{{CreateUserName(user.DisplayName)}}" routerLinkActive="active" class="table-link">
                                                      <span class="fa-stack">
                                                          <i class="fa fa-square fa-stack-2x"></i>
                                                          <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                      </span>
                                                  </a>

                                              </td>
                                          </tr>

                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
